body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F5F1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    max-width: 480px;
    margin: 0 auto;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
  }

label[for="temperature"] {
    font-weight: bold;
    font-size: 15.4px;
  }

input, button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff00;
    border: 2px solid #000000;
    border-radius: 5px;
}

.custom-select {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff00;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 5px;
}


button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
     font-weight: bold;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: #000000;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.result-row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}

.result-box {
    display: none;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #000000;
    transform: scale(0.9);
    transition: transform 0.2s ease;
    max-width: 100%; 
    word-wrap: break-word;
    width: 200px;
    max-width: 180px;
    max-height: 120px;
    overflow: hidden;
}


.result-box.celsius-box {
    background-color: #B1D7B4;
    border: 2px solid #000000;
    border-radius: 20px 0px 0px 20px;  
}
  
  .result-box.fahrenheit-box {
    background-color: #FFC090;
    border: 2px solid #000000;
    
}
  
  .result-box.kelvin-box {
    background-color: #96B6C5;
    border: 2px solid #000000;
    border-radius: 0px 20px 20px 0px;  
}
  

.result .label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
}

.result-box.show {
    display: block;
    transform: scale(1);
}

.result {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    text-align: center;
    line-height: 1.2;
}

button:hover {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
